<!-- Latest news section -->
<div class="latest-news-section">
	<div class="ln-title">Latest Updates</div>
	<div class="news-ticker">
		<div class="news-ticker-contant">
			<marquee>
				<div class="nt-item"><span class="new">new</span>"Explore the unknown with our latest update, unveiling
					new worlds, quests, and adventures!"
				</div>
				<div class="nt-item"><span class="strategy">strategy</span>Unlock the power of Staergy with our latest
					update, featuring new spells, abilities, and challenges!"
				</div>
				<div class="nt-item"><span class="racing">racing</span>"Race to victory with our latest update,
					introducing new tracks, cars, and thrilling challenges!"
				</div>
			</marquee>
		</div>
	</div>
</div>

<!-- Latest news section end -->

<!-- Page info section -->
<section class="page-info-section set-bg" [style.background-image]="'url(assets/img/page-top-bg/5.jpg)'">
	<div class="pi-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6 text-white">
					<h2>Contact us</h2>
					<p> Your gaming experience matters to us. Ask any query related to our app, and we'll get you the
						answers you need.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Page info section -->

<!-- Page section -->
<section class="page-section spad contact-page">
	<div class="container">
		<div class="map" id="map-canvas"></div>
		<div class="row">
			<div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="comment-title">Contact us</h4>
                <p>"Have a question about our game store app's features, purchases, or anything else? Ask away; we're eager to assist."</p>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="contact-info-list">
                            <li>
                                <div class="cf-left">Address</div>
                                <div class="cf-right"> PSR Prime Towers / Gachibowli / Dlf / Thry Games </div>
                            </li>
                            <li>
                                <div class="cf-left">Phone</div>
                                <div class="cf-right"> +919381400799 </div>
                            </li>
                            <li>
                                <div class="cf-left">E-mail</div>
                                <div class="cf-right">thrygames02@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                </div>

			</div>
			<div class="col-lg-8">

				<form #commentForm="ngForm" class="comment-form" (ngSubmit)="onSubmit(commentForm.value)" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<input style="border-radius: 2px; border-color: rgb(162, 149, 149);"
									class="form-control" type="text" name="name" placeholder="Name" ngModel required />
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<input style="border-radius: 2px; border-color: rgb(162, 149, 149);"
									class="form-control" type="email" name="email" placeholder="Email" ngModel required
									email />
							</div>
						</div>
						<div class="col-lg-12">
							<input style="border-radius: 2px; border-color: rgb(162, 149, 149);" type="text"
								name="subject" placeholder="Subject" ngModel required />
							<textarea style="border-radius: 2px; border-color: rgb(162, 149, 149);" name="message"
								placeholder="Message" ngModel required></textarea>
						</div>
					</div>
					<button [disabled]="!commentForm.valid" class="site-btn btn btn-warning btn-sm"
						type="submit" (click)="toastermsg()">Send</button>
				</form>




			</div>
		</div>
	</div>
</section>
<!-- Page section end -->


<!-- Footer top section -->
<section class="footer-top-section">
	<div class="container">
		<div class="footer-top-bg">
			<img src="../../assets/img/footer-top-bg.png" alt="">
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="footer-logo text-white">
					<img src="../../assets/img/Thry.png" alt="">
					<p>"Level Up Your Collection Today."</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget mb-5 mb-md-0">
					<h4 class="fw-title">Latest Posts</h4>
					<div class="latest-blog">
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/1.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date"> September 2021 </div>
								<p> Krafton's BGMI gets green light from Indian government after 3-month audit.</p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/2.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date">Nov 28, 2022</div>
								<p>The rollout of this new patch commenced on September 5, 2023, ensuring that all players will soon receive the latest update.7 days ago </p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/3.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date"> jan 15, 2023</div>
								<p>LBlizzard routinely applies older expansions to all accounts as new expansions are released. </p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget">
					<h4 class="fw-title">Top Comments</h4>
					<div class="top-comment">
						
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/kirandp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">kiran Reddy</a> <span> on </span> This game has a great balance of strategy and action. It's perfect for all types of gamers. </p>
								<div class="tc-date">Jan 26 , 2023</div>
							</div>
						</div>
					
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/vinaydp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Vinay K</a> <span> on </span> This game is absolutely addictive! I can't put it down!</p>
								<div class="tc-date">apirl 26, 2023</div>
							</div>
						</div>
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/akashdp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Akash singh</a> <span> on </span> The storyline and quests in this game are so engaging. I feel like I'm on a real adventure. </p>
								<div class="tc-date">dec 12, 2022</div>
							</div>
						</div>
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/saajandp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Saajan singh</a> <span> on </span> The graphics and gameplay in this game are top-notch. I'm hooked.</p>
								<div class="tc-date">June 21, 2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer top section end -->


<footer class="bg-dark text-center text-white">
	<div class="container p-4 pb-0">
		<section class="mb-4">
			<h4>FOLLOW US ON</h4><br>
			<!-- Facebook -->
			<a mdbRipple class="btn btn-outline-light btn-floating m-1"
				href="https://www.facebook.com/vinaykumar.kompelli" target="_blank" role="button"><i
					class="fa-brands fa-facebook fa-fade fa-lg"></i></a>

			<!-- Twitter -->
			<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CreativesVk"
				target="_blank" role="button"><i class="fa-brands fa-twitter fa-fade fa-lg"></i></a>

			<!-- Instagram -->
			<a mdbRipple class="btn btn-outline-light btn-floating m-1"
				href="https://www.instagram.com/vinaykumargoud_/" target="_blank" role="button"><i
					class="fa-brands fa-instagram fa-fade fa-lg"></i></a>

			<!-- Linkedin -->
			<a mdbRipple class="btn btn-outline-light btn-floating m-1"
				href="https://www.linkedin.com/in/vinay-kumar-k0327/" target="_blank" role="button"><i
					class="fa-brands fa-linkedin fa-fade fa-lg"></i></a>

			<!-- Github -->
			<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://gitlab.com/vinaykumargoud"
				target="_blank" role="button"><i class="fa-brands fa-gitlab fa-fade fa-lg"></i></a>
		</section>
	</div>
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2020 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
</footer>