<div  *ngIf="currentStep == 'signup'">
  <div class="background">
    <div class="container" align="center">
    <form class="disign" #regForm="ngForm" (ngSubmit)="customerRegister(regForm.value)">
        <h3><u>Register here</u></h3><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-pen fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" placeholder="Enter Name" name="custName" required ngModel />
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-venus-mars fa-lg space"></i></span>
            <div class="form-control custom-input" name="gender" ngModel>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Male"
                        [(ngModel)]="customer.gender">
                    <label class="form-check-label" for="maleRadio">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Female"
                        [(ngModel)]="customer.gender">
                    <label class="form-check-label" for="femaleRadio">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Others"
                        [(ngModel)]="customer.gender">
                    <label class="form-check-label" for="othersRadio">Others</label>
                </div>
            </div>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-globe fa-lg space"></i></span>
            <select class="form-control custom-input" name="country" [(ngModel)]="customer.country" ngModel>
                <option value="">Select Country</option>
                <option *ngFor="let county of coutriesList" value="{{county.cca3}}">{{county.name.common}}</option>
                
            </select>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-envelope fa-lg space"></i></span>

            <input class="form-control custom-input" type="text" name="emailId" placeholder="Enter Email" #emailId="ngModel" ngModel
                required>
        </div>
        <div>
            <div *ngIf="emailId.touched && emailId.invalid" class="error-text">Please Enter Email</div>
            <div *ngIf="emailId.dirty && !validateMail(emailId.value)" class="error-text">please Enter valid
                email</div>
        </div> <br>

        <div class="input-group">
          <span class="input-group-text custom-width"><i class="fa-regular fa-calendar-days fa-lg"></i></span>
          <input class="form-control custom-input" type="text" name="age" placeholder="YYYY-MM-DD" [(ngModel)]="formattedDateOfBirth" required style="width: 30px;" />
          
          <span class="input-group-text custom-width"><i class="fa-solid fa-phone fa-lg space"></i></span>
          <input class="form-control custom-input" type="text" name="mobile" placeholder="Enter Mobile" #mobile="ngModel" ngModel required style="width: 120px;" />
        </div>
        
        <div>
            <div *ngIf="mobile.touched && mobile.invalid" class="error-text">Please Enter the
                number
            </div>
            <div *ngIf="!validateMobile(mobile.value) && mobile.dirty" class="error-text">
                Mobile number must be 10 digits long and Mobile number's first digit cannot be 0, 1, 2, 3,
                4, or
                5</div>
        </div><br> 

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-unlock fa-lg"></i></span>

            <input class="form-control custom-input" type="password" placeholder="Enter password" name="password"
                #passwordInput="ngModel" ngModel [(ngModel)]="customer.password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
        </div>
        <div *ngIf="passwordInput.invalid && passwordInput.dirty">
            <div *ngIf="!validatePassword(passwordInput.value)" class="error-text">Password must contain
                at
                least one uppercase letter, one number, and one special character.</div>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-lock fa-lg space"></i></span>
            <input class="form-control custom-input" type="password" placeholder="Re Enter password" name="Repassword"
                #RepasswordInput="ngModel" ngModel [(ngModel)]="customer.Repassword">
        </div>
        <div *ngIf="RepasswordInput.dirty && customer.Repassword !== customer.password">
            <div class="error-text">
                Please enter the same password.
            </div>
        </div><br>

        <div>
            <button [disabled]="!regForm.valid" type="submit" class="btn btn-primary botton">Register</button>
            <div>
                Already User? <a routerLink="/signin">Login</a>
            </div>
        </div>
    </form>
</div><br>
</div>
</div>



<div *ngIf="currentStep == 'dob'">
  <div class="background">
<div class="container" [ngClass]="{'showError': showError}">
    <div class="center" *ngIf="!showError">
      <div class="dropdown">
        <label>Date:</label>
        <select [(ngModel)]="selectedDate">
          <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
        </select>
      </div>
  
      <div class="dropdown">
        <label>Month:</label>
        <select [(ngModel)]="selectedMonth">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
      </div>
  
      <div class="dropdown">
        <label>Year:</label>
        <select [(ngModel)]="selectedYear">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
  
      <div class="button-container">
        <button (click)="checkAgeAndRedirect()">Next</button>
      </div>
    </div>
  
    <div class="error-message" *ngIf="showError">
      <h2>Sorry for the inconvenience</h2>
      <p>We're sorry. Based on the information you have submitted to us, you are not eligible to register for Social Club.
      </p>
      <p>Please view our <a style="color:white; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Policy"><u>Privacy
            Policy</u></a> for more information.</p>
    </div>
  </div>
  
  
  <div class="modal fade" id="Policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre>
      <p>
      Last Updated: 05 August 2021
          
      Thry Games, Inc., a subsidiary of Take-Two Interactive Software, 
      Inc. (collectively with the other subsidiaries that make up the 
      Take-Two Interactive group of companies, “Rockstar”, "Take-Two," 
      “we,” “us” and “our”), is a leading developer, publisher and 
      marketer of interactive entertainment. This Privacy Policy 
      explains our data practices for the products, services, and  
      websites (collectively the "Services") that we offer to consumers.
          
      • Scope of this Policy and Who We Are
      • Information We Collect and Our Lawful Bases for Processing
      • Cookies and Similar Technology
      • How We Use Information
      • When We Share Information
      • Manage Your Account, Communications, and Data
      • Your California Privacy Rights
      • Data Retention
      • Children’s Privacy
      • Data Security
      • International Transfers
      • Other Take-Two Terms, Third-Party Terms, and Links to Other Sites
      • Public Postings
      • Contact Us
      • Changes to Privacy Policy
      </p>
        </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
