<br>
<div class="container" align="center">
  <form class="disign" #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>
    <h3 style="color: black;"><u>Sign In Here</u></h3><br>

    <div class="input-group">
      <span class="input-group-text custom-input"><i class="fa-solid fa-user fa-lg"></i></span>
      <input class="form-control custom-input" type="text" name="emailId" placeholder="Enter Email" #emailId="ngModel"
        ngModel required minlength="10">

    </div>
    <div class="error-message" *ngIf="emailId.touched">
      <div *ngIf="emailId.errors?.['required']">please Enter Email Id</div>
      <div *ngIf="emailId.errors?.['minlength']">please Enter at least 10 characters</div>
    </div><br>


    <div class="input-group">
      <span class="input-group-text custom-input"><i class="fa-solid fa-key fa-lg"></i></span>
      <input class="form-control custom-input" type="password" name="password" placeholder="Enter Password"
        #password="ngModel" ngModel required />
    </div>
    <div class="error-message" *ngIf="password.touched">
      <div *ngIf="password.errors?.['required']">Please Enter Password</div>
    </div><br>
    <div>
      <label style="color: black;"><input type="checkbox" required> Remember me &nbsp;&nbsp;&nbsp;</label> <a class="forgot" href=""> Forgot password</a>
    </div><br>

    <re-captcha (resolved)="handleCaptchaResolved($event)" siteKey="6LcNlU0oAAAAAI4gB3-8wdoI5OLRqKEW6Be2h-PB"
      size="normal">
    </re-captcha><br>

    <button [disabled]="!loginForm.valid || !isCaptchaResolved" class="btn btn-primary">Login</button> &nbsp;&nbsp;
    <a href="">Forgot Password</a><br>
    <div style="color: black;">New User? <a routerLink="/dob">SignUp</a></div><br>
    <div style="color: black;"><p>---------- or ----------</p></div>
    <div>
      <div id="g_id_onload" data-client_id="676310420824-v9dsmvurpledqfbjcndojkq9aho7j4pi.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:8085" data-auto_prompt="false">
      </div>

      <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
        data-text="signin_with" data-size="large" data-logo_alignment="left" data-width="300px">
      </div>
    </div>

  </form>
</div>