

<!-- Latest news section -->
<div class="latest-news-section">
	<div class="ln-title">Latest Updates</div>
	<div class="news-ticker">
		<div class="news-ticker-contant">
			<marquee>
				<div class="nt-item"><span class="new">new</span>"Explore the unknown with our latest update, unveiling new worlds, quests, and adventures!"
				</div>
				<div class="nt-item"><span class="strategy">strategy</span>Unlock the power of Staergy with our latest update, featuring new spells, abilities, and challenges!"
				 </div>
				<div class="nt-item"><span class="racing">racing</span>"Race to victory with our latest update, introducing new tracks, cars, and thrilling challenges!"
				</div>
			</marquee>
		</div>
	</div>
</div>
<!-- Latest news section end -->




<ngb-carousel class="hero-carousel fit-image" *ngIf="images">
	<ng-template ngbSlide *ngFor="let image of images">
	  <div class="picsum-img-wrapper image-container">
		<img [src]="image" alt="Image" style="width: 100%; height: 600px;">
	  </div>
	  <div class="carousel-caption">
		<h2>The Best <span>Games</span> Out There</h2>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
		  lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
		  sapien. Suspendisse cursus faucibus finibus.
		</p>
		<a href="#" class="site-btn">Read More</a>
	  </div>
	</ng-template>
  </ngb-carousel> 
  

<!-- Page section -->
<section class="page-section review-page spad">
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let review of recentReviews">
          <div class="review-item">
            <div class="review-cover set-bg" [style.background-image]="'url(' + review.cover + ')'">
              <div class="score yellow">{{ review.score }}</div>
            </div>
            <div class="review-text">
              <h4>{{ review.title }}</h4>
              <div class="rating">
                <i class="fa fa-star" *ngFor="let star of review.rating; let i = index" [class.is-fade]="!star"></i>
              </div>
              <p>{{ review.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-4">
        <button class="site-btn btn-sm">Load More</button>
      </div>
    </div>
  </section>
  
<!-- Page section end -->


<!-- Review section -->
<section class="review-section review-dark spad set-bg" [style.background-image]="'url(' + recentReviews2[0].background + ')'">
    <div class="container">
      <div class="section-title text-white">
        <div class="cata {{ recentReviews2[0].category }}">{{ recentReviews2[0].category }}</div>
        <h2>Recent Reviews</h2>
      </div>
      <div class="row text-white">
        <div class="col-lg-3 col-md-6" *ngFor="let review of recentReviews2">
          <div class="review-item">
            <div class="review-cover set-bg" [style.background-image]="'url(' + review.cover + ')'">
              <div class="score {{ review.score >= 9.0 ? 'yellow' : (review.score >= 8.0 ? 'purple' : 'green') }}">
                {{ review.score }}
              </div>
            </div>
            <div class="review-text">
              <h5>{{ review.title }}</h5>
              <p>{{ review.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Review section end -->


<!-- Footer top section -->
<section class="footer-top-section">
	<div class="container">
		<div class="footer-top-bg">
			<img src="../../assets/img/footer-top-bg.png" alt="">
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="footer-logo text-white">
					<img src="../../assets/img/Thry.png" alt="">
					<p>"Level Up Your Collection Today."</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget mb-5 mb-md-0">
					<h4 class="fw-title">Latest Posts</h4>
					<div class="latest-blog">
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/1.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date"> September 2021 </div>
								<p> Krafton's BGMI gets green light from Indian government after 3-month audit.</p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/2.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date">Nov 28, 2022</div>
								<p>The rollout of this new patch commenced on September 5, 2023, ensuring that all players will soon receive the latest update.7 days ago </p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
						<div class="lb-item">
							<div class="lb-thumb set-bg" [style.background-image]="'url(assets/img/latest-blog/3.jpg)'">
							</div>
							<div class="lb-content">
								<div class="lb-date"> jan 15, 2023</div>
								<p>LBlizzard routinely applies older expansions to all accounts as new expansions are released. </p>
								<a href="#" class="lb-author">By Admin</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget">
					<h4 class="fw-title">Top Comments</h4>
					<div class="top-comment">
						
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/kirandp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">kiran Reddy</a> <span> on </span> This game has a great balance of strategy and action. It's perfect for all types of gamers. </p>
								<div class="tc-date">Jan 26 , 2023</div>
							</div>
						</div>
					
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/vinaydp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Vinay K</a> <span> on </span> This game is absolutely addictive! I can't put it down!</p>
								<div class="tc-date">apirl 26, 2023</div>
							</div>
						</div>
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/akashdp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Akash singh</a> <span> on </span> The storyline and quests in this game are so engaging. I feel like I'm on a real adventure. </p>
								<div class="tc-date">dec 12, 2022</div>
							</div>
						</div>
						<div class="tc-item">
							<div class="tc-thumb set-bg" [style.background-image]="'url(assets/img/saajandp.jpg)'">
							</div>
							<div class="tc-content">
								<p><a href="#">Saajan singh</a> <span> on </span> The graphics and gameplay in this game are top-notch. I'm hooked.</p>
								<div class="tc-date">June 21, 2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer top section end -->


  <footer class="bg-dark text-center text-white">
	<div class="container p-4 pb-0">
	  <section class="mb-4">
		<h4>FOLLOW US ON</h4><br>
		<!-- Facebook -->
		<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/vinaykumar.kompelli" target="_blank" role="button"
		  ><i class="fa-brands fa-facebook fa-fade fa-lg"></i></a>
  
		<!-- Twitter -->
		<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CreativesVk" target="_blank" role="button"
		  ><i class="fa-brands fa-twitter fa-fade fa-lg"></i></a>
  
		<!-- Instagram -->
		<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/vinaykumargoud_/" target="_blank" role="button"
		  ><i class="fa-brands fa-instagram fa-fade fa-lg"></i></a>
  
		<!-- Linkedin -->
		<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/vinay-kumar-k0327/" target="_blank" role="button"
		  ><i class="fa-brands fa-linkedin fa-fade fa-lg"></i></a>
  
		<!-- Github -->
		<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://gitlab.com/vinaykumargoud"  target="_blank" role="button"
		  ><i class="fa-brands fa-gitlab fa-fade fa-lg"></i></a>
	  </section>
	</div>
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2020 Copyright:
	  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
  </footer>