/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-image: url('https://images.pexels.com/photos/159393/gamepad-video-game-controller-game-controller-controller-159393.jpeg'); 
}