
/* this css is for slide */

.social-buttons a {
  margin-right: 10px;
}

.no-underline {
  text-decoration: none;
}

.discount-box {
  background-color: #E74C3C; 
  color: #fff; 
  border-radius: 5px; 
  font-weight: bold; 
  display: inline-block; 
  padding: 2px 5px; 
}

 /* hero.component.css */
 .hero-carousel {
  height: 600px;
}

.picsum-img-wrapper {
  height: 100%; 
}

.feature-item {
  margin: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 

  transition: transform 0.2s, box-shadow 0.2s; 
}

.feature-item:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px black; 
}