<!-- <app-app-content></app-app-content> -->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->

<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-dob></app-dob> -->
<router-outlet></router-outlet>