.space{
    margin-right:10px;
}
.error-text {
    flex: 0; 
    color: red;
    font-size: 12px;
  }

  .disign {
    color: white;
    padding: 20px 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(1px);
    width: 35%;
    margin-top: 2%;
}
.custom-input{
  border-color: rgb(162, 149, 149);
}
.custom-width{
  border-color: rgb(162, 149, 149);
  width: 50px;
}


  