
<div class="container" align="center">
    <br>
    <div style="width: 400px; border: 1px solid rgb(206, 205, 205); border-radius: 10px;">
        <h1 style="font-weight: bold; padding-top: 20px;">Reset Password</h1><br>
        <div *ngIf="currentStep === 'email'">
            <form #emailForm="ngForm" (ngSubmit)="verifyEmail(emailForm.value)" novalidate>
                <div style="width: 300px;">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                        <input class="form-control" type="email" placeholder="Enter Email ID" name="emailId" ngModel
                            #emailId="ngModel" required minlength="2" maxlength="30">
                    </div>
                    <div *ngIf="((emailId.errors?.['required'] || emailId.errors?.['minlength']) && emailId.touched)"
                        [class.shake-on-error]="(((emailId.errors?.['required']) || (emailId.errors?.['minlength'])) && emailId.touched)"
                        align="right" style="margin-top: -8px;">
                        <p style="color: red; font-size: 12px;"><i
                                class="fa-solid fa-circle-exclamation"></i>&nbsp;Required
                        </p>
                    </div>

                    <button [disabled]="!emailForm.valid" class="btn btn-primary">Send OTP</button>
                </div>
            </form>
        </div>

        <div *ngIf="currentStep === 'otp'">
            <form #otpForm="ngForm" (ngSubmit)="verifyOtp(otpForm.value)" novalidate>
                <div style="width: 300px;">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input class="form-control" type="number" placeholder="Enter OTP" name="otp" ngModel
                            #otp="ngModel" required>
                    </div>
                    <div *ngIf="(otp.errors?.['required'] && otp.touched)"
                        [class.shake-on-error]="(otp.errors?.['required'] && otp.touched)" align="right"
                        style="margin-top: -8px;">
                        <p style="color: red; font-size: 12px;"><i
                                class="fa-solid fa-circle-exclamation"></i>&nbsp;Required
                        </p>
                    </div>

                    <button [disabled]="!otpForm.valid" class="btn btn-primary">Verify OTP</button>
                </div>
            </form>
        </div>


        <div *ngIf="currentStep === 'setPassword'">
            <form #setPasswordForm="ngForm" (ngSubmit)="setPassword(setPasswordForm.value)" novalidate>
                <div style="width: 300px;">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input class="form-control" type="password" placeholder="Set Password" name="password" ngModel
                            #password="ngModel" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[~!@#$%^&*]).{3,8}$">
                    </div>
                    <div *ngIf="((password.errors?.['required'] || password.errors?.['pattern']) && password.touched)"
                        [class.shake-on-error]="((password.errors?.['required'] || password.errors?.['pattern']) && password.touched)"
                        align="right" style="margin-top: -8px;">
                        <p style="color: red; font-size: 12px; display: inline-block; text-align: left;"><i
                                class="fa-solid fa-circle-exclamation"></i>&nbsp;Password
                            must
                            contain less than 8 characters<br>
                            • one upper case letter <br>
                            • one digit <br>
                            • one symbol (~!@#$%^&*)
                        </p>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input class="form-control" type="password" placeholder="Re-enter Password" name="rpassword"
                            ngModel #rpassword="ngModel" required>
                    </div>
                    <div *ngIf="((rpassword.errors?.['required'] || !validateRepeat(password.value, rpassword.value)) && rpassword.touched)"
                        align="right"
                        [class.shake-on-error]="((rpassword.errors?.['required'] || !validateRepeat(password.value, rpassword.value)) && rpassword.touched)"
                        style="margin-top: -8px;">
                        <p style="color: red; font-size: 12px; display: inline-block; text-align: left;"><i
                                class="fa-solid fa-circle-exclamation"></i>&nbsp;Re-enter Password
                        </p>
                    </div>

                    <button [disabled]="!setPasswordForm.valid" class="btn btn-primary">Set Password</button>
                </div>
            </form>
        </div>
        <br>
    </div>
</div>
