<div class="center">
  <div class="dropdown">
    <label>Date:</label>
    <select [(ngModel)]="selectedDate">
      <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
    </select>
  </div>

  <div class="dropdown">
    <label>Month:</label>
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
    </select>
  </div>

  <div class="dropdown">
    <label>Year:</label>
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <br><br>
  <button (click)="checkAgeAndRedirect()">SignIn</button>
</div>


