.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/159393/gamepad-video-game-controller-game-controller-controller-159393.jpeg'); 
  background-size: cover;
  padding: 20px;
}

.dropdown {
  margin: 0 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}
label {
  font-weight: bold;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
