<div class="background"><br>
  <div class="container " align="center">
    <form class="disign" #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>
      <h3 ><u>Sign In Here</u></h3><br>

      <div class="input-group">
        <span class="input-group-text custom-input"><i class="fa-solid fa-user fa-lg"></i></span>
        <input class="form-control custom-input" type="text" name="email" placeholder="Enter Email" #email="ngModel"
          ngModel required minlength="10">

      </div>
      <div class="error-message" *ngIf="email.touched">
        <div *ngIf="email.errors?.['required']">please Enter Email Id</div>
        <div *ngIf="email.errors?.['minlength']">please Enter at least 10 characters</div>
      </div><br>


      <div class="input-group">
        <span class="input-group-text custom-input"><i class="fa-solid fa-key fa-lg"></i></span>
        <input class="form-control custom-input" type="password" name="password" placeholder="Enter Password"
          #password="ngModel" ngModel required />
      </div>
      <div class="error-message" *ngIf="password.touched">
        <div *ngIf="password.errors?.['required']">Please Enter Password</div>
      </div><br>
      <div>
        <label ><input type="checkbox" required> Remember me &nbsp;&nbsp;&nbsp;</label>
        <a class="fontweight" style=" cursor: pointer;" data-bs-toggle="modal" data-bs-target="#forgot" (click)="forgot()">
          <u>Forgot your password?</u></a>
      </div><br>

      <re-captcha (resolved)="handleCaptchaResolved($event)" siteKey="6LcNlU0oAAAAAI4gB3-8wdoI5OLRqKEW6Be2h-PB"
        size="normal">
      </re-captcha><br>

      <button [disabled]="!loginForm.valid || !isCaptchaResolved" class="btn btn-primary fontweight">Login</button> &nbsp;&nbsp;
      <div class="fontweight">New User? &nbsp;<a routerLink="/signup">SignUp</a></div><br>
      <div>
        <p>------------ or ------------</p>
      </div>
    </form>
  </div>

  <div class="modal fade" id="forgot" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header custom-input">
          <div class="w-100 text-center">
            <h5 class="modal-title" id="exampleModalLongTitle">Forgotten your password?</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <p>Enter your Thry Games email address below. We will send otp for password reset details for your account.
          </p><br>
          <div *ngIf="currentStep === 'email'">
            <form #emailForm="ngForm" (ngSubmit)="verifyEmail(emailForm.value)" novalidate>
              <div style="width: 300px;">
                <div class="input-group">
                  <span class="input-group-text custom-input"><i class="fa-solid fa-envelope"></i></span>
                  <input class="form-control custom-input" type="email" placeholder="Email" name="email" ngModel
                    #email="ngModel" required minlength="2" maxlength="30">
                </div><br>
                <div *ngIf="((email.errors?.['required'] || email.errors?.['minlength']) && email.touched)"
                  [class.shake-on-error]="(((email.errors?.['required']) || (email.errors?.['minlength'])) && email.touched)"
                  align="right" style="margin-top: -8px;">
                  <p style="color: red; font-size: 12px;"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;Required
                  </p>
                </div><br>
                <button type="submit" class="btn btn-primary" [disabled]="isSendingOTP">
                  <span class="spinner-border spinner-border-sm" *ngIf="isSendingOTP" role="status" aria-hidden="true"></span>
                  {{ isSendingOTP ? 'Sending Otp...' : 'Send OTP' }}
                </button>
              </div>
            </form>
          </div>


          <div *ngIf="currentStep === 'otp'">
            <form #otpForm="ngForm" (ngSubmit)="verifyOtp(otpForm.value)" novalidate>
              <div style="width: 300px;">
                <div class="input-group">
                  <span class="input-group-text custom-input"><i class="fa-solid fa-key"></i></span>
                  <input class="form-control custom-input" type="number" placeholder="Enter OTP" name="otp" ngModel
                    #otp="ngModel" required>
                </div><br>
                <div *ngIf="(otp.errors?.['required'] && otp.touched)"
                  [class.shake-on-error]="(otp.errors?.['required'] && otp.touched)" align="right"
                  style="margin-top: -8px;">
                  <p style="color: red; font-size: 12px;"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;Required
                  </p>
                </div><br>
                <button [disabled]="!otpForm.valid" class="btn btn-primary">Verify OTP</button>
              </div>
            </form>
          </div>


          <div *ngIf="currentStep === 'setPassword'">
            <form #setPasswordForm="ngForm" (ngSubmit)="setPassword(setPasswordForm.value)" novalidate>
              <div style="width: 300px;">
                <div class="input-group">
                  <span class="input-group-text custom-input"><i class="fa-solid fa-key"></i></span>
                  <input class="form-control custom-input" type="password" placeholder="Set Password" name="password"
                    ngModel #password="ngModel" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[~!@#$%^&*]).{3,8}$">
                </div><br>
                <div *ngIf="((password.errors?.['required'] || password.errors?.['pattern']) && password.touched)"
                  [class.shake-on-error]="((password.errors?.['required'] || password.errors?.['pattern']) && password.touched)"
                  align="right" style="margin-top: -8px;">
                  <p style="color: red; font-size: 12px; display: inline-block; text-align: left;"><i
                      class="fa-solid fa-circle-exclamation"></i>&nbsp;Password
                    must
                    contain less than 8 characters<br>
                    • one upper case letter <br>
                    • one digit <br>
                    • one symbol (~!@#$%^&*)
                  </p>
                </div><br>
                <div class="input-group">
                  <span class="input-group-text custom-input"><i class="fa-solid fa-key"></i></span>
                  <input class="form-control custom-input" type="password" placeholder="Re-enter Password"
                    name="rpassword" ngModel #rpassword="ngModel" required>
                </div><br>
                <div *ngIf="((rpassword.errors?.['required'] || !validateRepeat(password.value, rpassword.value)) && rpassword.touched)"
                  align="right"
                  [class.shake-on-error]="((rpassword.errors?.['required'] || !validateRepeat(password.value, rpassword.value)) && rpassword.touched)"
                  style="margin-top: -8px;">
                  <p style="color: red; font-size: 12px; display: inline-block; text-align: left;"><i
                      class="fa-solid fa-circle-exclamation"></i>&nbsp;Re-enter Password
                  </p>
                </div><br>

                <button [disabled]="!setPasswordForm.valid" class="btn btn-primary" (click)="submit()">Set
                  Password</button>
              </div>
            </form>
          </div>
             
        </div>
        <div class="modal-footer custom-input">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>