
.error-message {
    flex: 0; 
    color: red;
    font-size: 12px;
  }
  
  .disign {
    color: white;
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Limit the maximum width if necessary */
    padding: 50px 40px;
    border: 2px solid gray;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(3px);
  }
  
  
  .custom-input{
    border-color: rgb(162, 149, 149);
  }
  body, html {
    margin: 0;
    padding: 0;
  }

  /* old project css styles */

  .class {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .fontweight{
    font-weight: 600;
  }
  @media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px or smaller */
    .disign {
      width: 90%;
    }
    
    .error-message {
      font-size: 10px;
    }
  }